<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TheoQuotesAPI</title>
  </head>
  <body>
    <h1>TheoQuotesAPI:</h1>
    <h2>An API for quoes by theologians.</h2>

    `/quotes`<br />
    Returns all quotes

    <br /><br />

    `/authors`<br />
    Returns a list of all authors

    <br /><br />

    `/quotes_from/&lt;author name&gt;`<br />
    Returns all quotes from the given author

    <br /><br />

    `/random_quote`<br />
    Returns a random quote

    <br /><br />

    `/random_word`<br />
    Returns a random quote

    <br /><br />

    <a href='https://github.com/ilerio/TheoQuotesAPI'>source code</a>
  </body>
</html>
